langchain
langgraph
langchain-core
langchain-community

pymupdf


langchain_groq
faiss_cpu
tiktoken

langchain_openai
chromadb
sentence_transformers
pypdf
python_dotenv
pymupdf
unstructured
pdfminer
python_docx
docx2txt
##embeddings

langchain_huggingface


langchain_experimental

nbconvert