langchain
langgraph
langchain-core
langchain-community

pymupdf

langchain
langgraph
langchain-core
langchain-community

pymupdf

langchain
langchain_groq
faiss_cpu
tiktoken
langchain_community
langchain_openai
chromadb
sentence_transformers
pypdf
python_dotenv
pymupdf
unstructured
pdfminer
python_docx
docx2txt
##embeddings

langchain_huggingface
sentence_transformers

langchain_experimental